*{margin: 0; padding: 0}
*{box-sizing: border-box}
*::after{box-sizing: border-box}
*::before{box-sizing: border-box}
ul, ol{list-style: none}
a{color: inherit; text-decoration: none}
input{font: inherit}

body{
    font-size: 12px;
    line-height: 1.5;
}

/* layout */
.page{
    display: flex;
    height: 100vh;
}
.page > aside{
    width: 200px;
}
.page > main{
    flex-grow: 1;
}

/* aside */
aside{
    display: flex;
    flex-direction: column;
}
aside > .newSong{
    text-align: center;
    padding: 10px;
}
.newSong.active{
    background: #d4d4d4;
}
aside > .songList{
    flex-grow: 1;
    border-top: 2px solid #999;
    text-align: left;
}
.songList > li.active{
    background: #d4d4d4;
}
.songList > li > a{
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 10px; 
    margin: 0 15px;
}
aside > .uploadArea{}
.uploadArea > .draggable{
    border: 1px dashed #ddd;
    border-radius: 5%;
    padding: 20px 0;
}
.draggable > .clickable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* main */
main{
    background: #d4d4d4;
    padding-left: 20px;
}
main > .form{
    font-size: 14px;
}
.form > h1{
    margin-bottom: 10px;
}
.form > .row{
    margin: 10px 0;
}
.form > .row > button{
    margin-left: calc(4em + 6px)
}
.form > .row > label{
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
}
.form > .row > label > span{
    width: 4em;
    margin-right: 5px;
    text-align: right;
    /* border: 1px solid orange; */
}
.form > .row > label > input[type="text"]{
    padding: 3px 8px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* border: 1px solid red; */
}





